body{
	font-family: "Adelle Sans", SansSerif;
}

.tableContain {
	border: 2px solid rgba(0, 0, 0, .7);
	width: 50%;
	margin: auto;
}

.complaintTable {
	background-color: aliceblue;
	width: 100%;
	height: auto;
}

.tableHead {
	background-color: lightgray;
}

td {
	padding-left: 2% ;
}

